{% extends "game-admin.html" %}
{% block title %}Admin Account{% endblock %}
{% block content %}
<!-- BLOCK CONTENT-->

<div>
	<!-- div with forms-->

	<h1>My account details</h1>
	<table>
		<tr>
			<th>Admin ID</th>
			<th>Admin Email</th>
		</tr>
		<tr>
			<td>{{g.user.id}}</td>
			<td>{{g.user.username}}</td>
		</tr>
	</table>

	<!-- {% if admin|length < 1 %}
	<h4>There is no data.</h4>
	{% else %}
	<h4>My account details</h4>
	<table>
		<tr>
			<th>First Name</th>
			<th>Second Name</th>
			<th>Email</th>
			<th>ID</th>
			<th>Action</th>
		</tr>
		{% for admin in admins %}
		<tr>
			<td>{{ admin.fname }}</td>
			<td>{{ admin.sname }}</td>
			<td>{{ admin.email }}</td>
			<td>{{ admin.id }}</td>
			<td>
				<a class="pp-5" href="/admin/account/{{admin.id}}">Delete</a>
				<br>
				<a class="pp-5" href="/admin/account/{{admin.id}}">Update</a>
			</td>
		</tr>
		{% endfor %}
	</table>
	{% endif %} -->


</div> <!-- div with forms end-->
<!-- BLOCK CONTENT END-->
{% endblock %}