{% extends "word-game.html" %}
{% block title %}Add Question{% endblock %}
{% block content %}
<!-- BLOCK CONTENT-->
<!-- topnav for admin-->
<div class="weeks">
	<ul class="basic">
		<li><a href="../add">Add Question</a></li>
		<li><a href="../edit">Edit Questions</a></li>
		<li style="float:right"><a href="#">Log Out</a></li>
		<li style="float:right"><a href="../account">My Account</a></li>
	</ul>
</div>
<div>
	<!-- div with forms-->

	<h1>Add a new question</h1>

	<form class="questionform2" action="/admin/add/" method='POST'>

		<div class="row">
			<div class="col-35"><label for="question">Question:</label></div>
			<div class="col-35"><label for="answer">Answer:</label> <span class=small>(only letters and
					numbers!)</span>
			</div>
			<div class="col-20"><label for="weeks">Select week number:</label></div>
		</div>

		<div class="row">
			<div class="col-35"> <textarea id="question" name="question" placeholder="type in question ..."></textarea>
			</div>
			<div class="col-35"> <textarea id="answer" name="answer"
					placeholder="type in correct answer (only letters and numbers)..."></textarea>
			</div>
			<div class="col-15">
				<select id="weeks" name="weeks">
					<option value="1">1</option>
					<option value="2">2</option>
					<option value="3">3</option>
					<option value="4">4</option>
					<option value="5">5</option>
					<option value="6">6</option>
					<option value="7">7</option>
					<option value="8">8</option>
					<option value="9">9</option>
					<option value="10">10</option>
					<option value="11">11</option>
					<option value="12">12</option>
				</select>
			</div>

			<div class="col-10" style="float:right; padding-bottom: 6px; padding-left: 26px;"><input type="submit"
					value="Submit"></div>
		</div>

	</form>

	{% if questions|length < 1 %}
	<h4>There is no questions. Create a new question.</h4>
	{% else %}
	<h4>The questions list.</h4>
	<table>
		<tr>
			<th>Question</th>
			<th>Answer</th>
			<th>Week</th>
			<th>Actions</th>
		</tr>
		{% for question in questions %}
		<tr>
			<td>{{ question.question }}</td>
			<td>{{ question.answer }}</td>
			<td>{{ question.week }}</td>
			<td>
				<a href="/admin/delete/{{question.id}}">Delete</a>
				<br>
				<a href="/admin/edit/{{question.id}}">Update</a>
			</td>
		</tr>
		{% endfor %}
	</table>
	{% endif %}
</div> <!-- div with forms end-->
<!-- BLOCK CONTENT END-->
{% endblock %}