{% extends "game-admin.html" %}
{% block title %}Edit Question{% endblock %}
{% block content %}
<!-- BLOCK CONTENT-->

<!-- div z formularzem questionform2-->
<div class="row">
	<h1>Edit question</h1>
	<form class="questionform2" action="/admin/edit/{{question.id}}" method="POST">

		<div class="row">
			<div class="col-35"><label for="question">Question:</label></div>
			<div class="col-35"><label for="answer">Answer:</label></div>
			<div class="col-20"><label for="weeks">Select week number:</label></div>
		</div>

		<div class="row">
			<div class="col-35"> <textarea id="question1" name="question"
					placeholder="{{question.question}}">{{question.question}}</textarea>
			</div>
			<div class="col-35"> <textarea id="answer" name="answer"
					placeholder="{{question.answer}}">{{question.answer}}</textarea>
			</div>
			<div class="col-15">
				<select id="weeks" name="weeks">
					<option value="{{question.week}}">{{question.week}}</option>
					<option value="1">1</option>
					<option value="2">2</option>
					<option value="3">3</option>
					<option value="4">4</option>
					<option value="5">5</option>
					<option value="6">6</option>
					<option value="7">7</option>
					<option value="8">8</option>
					<option value="9">9</option>
					<option value="10">10</option>
					<option value="11">11</option>
					<option value="12">12</option>
				</select>
			</div>

			<div class="col-10" style="float:right; padding-bottom: 6px; padding-left: 26px;"><input type="submit"
					value="Update"></div>
		</div>

	</form>
</div><!-- div z formularzem end -->
<!-- BLOCK CONTENT END-->
{% endblock %}