<!DOCTYPE HTML>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>{% block title %} Word Game - login {% endblock%}</title>

	<link href='https://fonts.googleapis.com/css?family=Inconsolata:400,700&subset=latin,latin-ext' rel='stylesheet'
		type='text/css'>

	<link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}" type="text/css" />
	<script src="https://code.jquery.com/jquery-3.5.0.js"></script>
	<script src="{{ url_for('static', filename='wordgame.js') }}"></script>

</head>

<body>
	<div id="container">
		<div id="topnav">
			<ul>
				<li><a>Biology</a></li>
				<li style="float:right"><a href="/" target="_blank">WordGame</a></li>
			</ul>
		</div>
		<!-- BLOCK CONTENT-->
		<!-- topnav for admin-->
		<div class="weeks">
		</div>
		<!-- div z formularzem questionform2-->

		<h1>Log In</h1>
		<!-- <h1>{{ name }}</h1> -->
		<form class="questionform2" action="admin" method="POST" name="form">

			<div class="row">
				<div class="col-10">
					<label for="email1">Email:</label><br>
				</div>
				<div class="col-35">
					<input type="email" name="email1" id="email1" autocomplete="on" required />
				</div>
			</div>
			<!--  -->
			<div class="row">
				<div class="col-10">
					<label for="pwd">Password:</label>
				</div>
				<div class="col-35">
					<input type="password" id="pwd" name="pwd" required /><br>
				</div>
			</div>
			<!--  -->
			<div class="row">
				<div class="col-10">
				</div>
				<div class="col-35">
					<input type="submit" value="Submit">
				</div>
			</div>
			<!--  -->
			<div class="row">
				<div class="col-10">
					<p><a href="#" class="pp-5">Help</a></p>
				</div>
				<div class="col-35">
					<p><a href="#" class="pp-5">Reset password</a></p>
				</div>
			</div>
		</form>
		<!-- div z formularzem end -->
		<!-- BLOCK CONTENT END-->
	</div>
	<footer id="footer">&copy; APP 2020 by Marta</footer>
</body>

</html>