{% extends "word-game.html" %}
{% block content %}
<!-- BLOCK CONTENT-->
<!-- topnav for pupil/user-->
<div class="weeks">
	<ul class="basic">
		<li class="basic" id="weekk">week:</li>
		<li id="w1"><a>1</a></li>
		<li id="w2"><a>2</a></li>
		<li id="w3"><a>3</a></li>
		<li id="w4"><a>4</a></li>
		<li id="w5"><a>5</a></li>
		<li id="w6"><a>6</a></li>
		<li id="w7"><a>7</a></li>
		<li id="w8"><a>8</a></li>
		<li id="w9"><a>9</a></li>
		<li id="w10"><a>10</a></li>
		<li id="w11"><a>11</a></li>
		<li id="w12"><a>12</a></li>
		<li style="float:right"><a href="{{ url_for('root') }}">all questions</a></li>
	</ul>
</div>

<div>
	<p id="question"></p><!-- Question will be there-->
</div>

<div id="stars">
	<img src="static/img/s0.png" alt="" width="450" height="63" />
</div>

<div id="lettersandnumbers">
	<!-- Answer  as _ _ _ _-->
</div>

<div id="alfabet2">
	<div id="alfabet"></div>
	<div style="clear:both;"></div>
</div>
<!-- BLOCK CONTENT END-->
{% endblock %}