<!DOCTYPE HTML>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>{% block title %} Word Game {% endblock%}</title>

    <link href='https://fonts.googleapis.com/css?family=Inconsolata:400,700&subset=latin,latin-ext' rel='stylesheet'
        type='text/css'>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}" type="text/css" />
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
    <script src="{{ url_for('static', filename='wordgame.js') }}"></script>

</head>


<body>
    <div id="container">
        <div id="topnav">
            <ul>
                <li><a>Biology</a></li>
                <li style="float:right"><a href="/" target="_blank">WordGame</a></li>
            </ul>
        </div>

        {% block content %} {% endblock %}

        <div>
            <h2>Playing WordGame</h2>
            <p>
                The game goal is simply to answer the questions by uncovering the letters. <br>

                You will be presented with a number of blank spaces representing the missing letters you need to
                find.<br>

                Use the displayed keyboard to guess a letter or a number.<br>

                If your chosen letter exists in the answer, then all places in the answer where that letter appear will
                be revealed.<br>

                After you've revealed several letters, you may be able to guess what the answer is and fill in the
                remaining letters or numbers.<br>

                Be warned, every time you guess a letter wrong you loose a star.<br>

                Solve the puzzle before all the stars disappear.</p>
        </div>

    </div>
    <footer id="footer">&copy; APP 2020 by Marta</footer>
</body>

</html>